<h2>Users List</h2>



<br />
<!--

<input #searchString (keyup.enter)="onSearch(searchString.value)" formControlName="" />
<button (click)="onSearch(searchString.value)">Search</button>
<button (click)="onSearchReset()">Reset</button>

-->

<table class="table rtl-grid ">
  <thead>
    <tr>
      <!-- <th>
        Id
      </th> -->
      <th scope="col">
        <a [routerLink]="" (click)="onHeaderClick('Email')">
          ایمیل
          <span *ngIf="sortOrder=='Email'">&#8897;</span>
          <span *ngIf="sortOrder=='Email_desc'">&#8896;</span>
        </a>
      </th>
      <th scope="col">
        <a [routerLink]="" (click)="onHeaderClick('Fname')">
          نام
          <span *ngIf="sortOrder=='Fname'">&#8897;</span>
          <span *ngIf="sortOrder=='Fname_desc'">&#8896;</span>
        </a>
      </th>
      <th scope="col">
        <a [routerLink]="" (click)="onHeaderClick('Lname')">
          نام خانوادگی
          <span *ngIf="sortOrder=='Lname'">&#8897;</span>
          <span *ngIf="sortOrder=='Lname_desc'">&#8896;</span>
        </a>
      </th>
      <th scope="col">
        تلفن
      </th>
      <th scope="col">
        <a [routerLink]="" (click)="onHeaderClick('Approved')">
          تایید شده
          <span *ngIf="sortOrder=='Approved'">&#8897;</span>
          <span *ngIf="sortOrder=='Approved_desc'">&#8896;</span>
        </a>
      </th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList">
      <!-- <td>{{ user._id }}</td> -->
      <td>{{ user.email?user.email:"_" }}</td>
      <td>{{ user.firstName?user.firstName:"_" }}</td>
      <td>{{ user.lastName?user.lastName:"_" }}</td>
      <td>{{ user.phone?user.phone:"_" }}</td>
      <td>
        <div class="flex justify-center">
          <mat-checkbox type="checkbox" id="approved" [checked]="user.isEmailActive" disabled></mat-checkbox>
        </div>
      </td>
      <td><a disabled [routerLink]="['/user-delete', user._id]">حذف</a></td>
      <!-- <td><a [routerLink]="['/user-edit', user._id]">ویرایش</a></td> -->
      <td><a [routerLink]="['/password-change', user._id]">تغییر رمز</a></td>
    </tr>
  </tbody>

</table>
<div *ngIf="totalUsers==0" class="flex justify-center items-center w-full bg-slate-50 font-bold  h-[5vh]">رکوردی یافت
  نشد!</div>