<div class="flex flex-col overflow-hidden">

  <mat-toolbar *ngIf="true" color="primary" class="fixed top-0 z-10 overflow-hidden">
    <button routerLink="/" mat-icon-button class="">
      <mat-icon>home</mat-icon>
    </button>
    <span class="text-[2.5vh]">{{title}}</span>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon>dashboard</mat-icon>Dashboard</button>
        <button mat-menu-item><mat-icon>wallpaper</mat-icon>about</button>
        <button (click)="onSignOut()" mat-menu-item><mat-icon>account_box</mat-icon>LogOut</button>


      </mat-menu>
    </button>
    <button class="flex items-center" mat-button onclick="window.location.href='https://github.com/soheils2/test01ng'">
      <div class="flex items-center">
        <img _ngcontent-ng-c3202968170="" matbuttonicon="" src="../assets/github-circle-white-transparent.svg"
          alt="angular" aria-hidden="true" class="logo docs-navbar--github-logo">
        <!-- <mat-icon>cloud</mat-icon> -->
        <span class="text-[2vh] pl-1">GitHub</span>
      </div>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>